<div *ngFor="let experienceItem of experienceItems" class="w3-container">
    <h5 class="w3-opacity"><b>{{ experienceItem.experienceSubTitle }}</b></h5>
    <h6 class="w3-text-teal">
        <i class="fa fa-calendar fa-fw w3-margin-right"></i>
        {{ experienceItem.startDate }} 
        <span>
            {{ experienceItem.endDate ? '-' : '' }}
        </span> 
        <span [ngClass]="{'w3-tag w3-teal w3-round': experienceItem.endDate === 'Current'}">
            {{ experienceItem.endDate }}
        </span>
    </h6>
    <p>{{ experienceItem.content }}</p>
    <hr>
</div>


