<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <app-modal-form (hideForm)="onHideForm()" *ngIf="showForm"></app-modal-form>

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <app-photo [imagePath]="data.imagePath" [name]="data.name">
        </app-photo>
        <div class="w3-container">
          <div *ngFor="let information of data.informations">
            <app-informations [informationItem]="information"></app-informations>
          </div>
          <app-send-message (showForm)="onShowForm()"></app-send-message>
          <hr>
          <app-skills [skills]="data.skills"></app-skills>
        </div>
      </div><br>

      <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <app-experiences [experiences]="data.experiences"></app-experiences>

      <!-- End Right Column -->
    </div>

    <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

<app-footer [footerData]="data.footer"></app-footer>