.w3-modal-content {
  max-width: 600px;
  border-radius: 12px;
}

.round-btn {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  }