<div class="w3-modal w3-animate-opacity w3-show">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom">
    <div class="w3-container">
      <span class="w3-button w3-display-topright round-btn" (click)="closeModal()">&times;</span>
      <form class="w3-container" [formGroup]="contactForm" action="submit">
        <div class="w3-section">
          <h1 mat-dialog-title class="w3-margin-top">Send me a message!</h1>
          <mat-form-field appearance="outline">
            <mat-label><b>Email</b></mat-label>
            <input matInput class="w3-input w3-border w3-margin-bottom" formControlName="email" />
            <mat-hint>Ex: email@example.com</mat-hint>
            <mat-error>It needs to be a valid email</mat-error>
          </mat-form-field>

          <br /><br />

          <mat-form-field appearance="outline">
            <mat-label><b>Message</b></mat-label>
            <textarea matInput class="w3-input w3-border w3-margin-bottom" formControlName="message"></textarea>
            <mat-hint align="end">{{ characterCount }} / 300</mat-hint>
            <mat-error>The field must have between 10 and 300 characters</mat-error>
          </mat-form-field>

          <br /><br />

          <button class="w3-button w3-block w3-teal w3-section w3-padding" (click)="onSubmit()"
            [disabled]="contactForm.invalid" type="button">
            Send
          </button>
        </div>
      </form>
    </div>
  </div>
</div>